deepspeed==0.12.3
fschat==0.2.35
huggingface_hub==0.22.1
numpy==1.26.4
peft==0.6.2
pyserini==0.24.0
pytrec_eval==0.5
sentence_transformers==2.5.1
torch==2.1.2
tqdm==4.66.1
transformers==4.37.2
ujson==5.8.0
